.App {
  text-align: center;
}

.Negative-margin {
  border-radius: 50px;
  margin-top: -32px;
  margin-left: 10px;
}

.min-w-100 {
  min-width: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.aqua {
  color: #6ac6d5
}

.App-header {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-top: 10vh;
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.webLinks{
  background: #6ac6d5;
  height: 350px;
  width: 350px;
  outline: none;
}

.navButtons{
  margin-top: 30px;
  margin-bottom: 40px;
  text-decoration: none;
}

.thumbnail:hover {
  position:relative;
  top:-25px;
  left:-35px;
  width:500px;
  height:auto;
  display:block;
  z-index:999;
}
